<p>
    L'aventure {{trip_name}} peut enfin commencer !
<br><br>
    Pour te faire un récapitulatif de la quête qui attend votre équipage composé de {{number}} pirates sanguinaires, voici les éléments à retenir :
<br><br>
    - Vous partez pour {{trip_destination}}, une destination rêvée pour démontrer vos talents de pilleurs hors pair.
<br>
    - Le grand départ c'est aujourd'hui, le {{trip_start}}, et vous devez revenir avec le butin le {{trip_end}}.
<br><br>
    Avant de partir n'oublie pas de remercier les matelots suivants qui ont eu un rôle déterminant dans la préparation de votre voyage :
<br><br>
    - Tout d'abort, merci à {{username_admin}} sans qui cette aventure n'aurait pas vu le jour !
<br>
    - Un grand merci à {{username_winner}}, tu as clairement été le leader jusqu'à présent, bravo !
<br>
    - Merci à {{username_destination}}, c'est grâce à toi que nous avons pu dénicher cette fantastique destination qui va nous rendre riche !
<br>
    - Merci à notre trésorier {{username_budget}}, l'équilibre des comptes est une qualité trop rare dans notre équipage.
<br>
    - Merci beaucoup à {{username_date}}, ta proposition des dates était clairement celle qui nous convenait le mieux.
<br>
    - Enfin un grand bravo à notre bon à rien {{username_loser}}, vous pouvez le jeter par dessus bord si il continue à se tourner les pouces !
<br><br>
    Voilà matelots, je vous souhaite un bon courage et j'espère pouvoir vous recroiser en un morceau pour de nouvelles aventures.
<br><br>
    Captaine Listo
<br><br>
<img src="cid:logo" width=15% height=30% />
</p>
